<div class="pt-30">
    <div>
      <h2><span class="badge badge-secondary">Create New Account</span></h2>
  </div>
<form>
    <div class="form-group">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="name">UserName</label>
        <input type="text" class="form-control" id="name" placeholder="Name">
      </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="confirm password">
      </div>
<button type="submit" class="btn btn-secondary">Sign in</button>
</form>
</div>